/*
    artifact generator: C:\My\wizzi\stfnbssl\wizzi.plugins\packages\wizzi.plugin.css\lib\artifacts\css\document\gen\main.js
    package: wizzi-web@
    primary source IttfDocument: C:/My/wizzi/stfnbssl/wizzi.cli/packages/wizzi.cli/ittf/folders/withContext/styles.css.ittf
    utc time: Thu, 29 Feb 2024 08:23:19 GMT
*/
body {
    background-color: #232323;
    color: green;
}

